/* Reset CSS
 * --------------------------------------- */
body,
div,
li,
h1,
h1,
h3,
h4,
p {
    padding: 0;
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

h1,
h1,
h3,
h4 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}


/* Custom CSS
 * --------------------------------------- */

body{
    background: #1a1a1a;
}